{% load static %}

<div class="answer">
    <img src="{% static 'img/avatar.jpg' %}" alt="Фото" class="profile-image">
    <div class="answer-info">
        <div class="answer-text-mini">{{ answer.text}}</div>
        <div class="raiting-answers-container">
            <div class="raiting-box">
                <div class="raiting-counter">256</div>
                <div class="like-button" onclick="return Like();">
                    <img src="{% static 'img/raiting_buttons/like.svg' %}" alt="Like" class="like-button">
                </div>
                <div class="dislike-button" onclick="return Dislike();">
                    <img src="{% static 'img/raiting_buttons/dislike.svg' %}" alt="Dislike" class="dislike-button">
                </div>
            </div>
            <button class="correct-button" id="correct-button">
                <img id="correct-icon" class="correct-icon" src="{% static 'img/correct-icon.svg' %}">
                mark correct
            </button>
        </div>
    </div>
</div>