{% extends "base.html" %}
{% load static %}

{% block title %}
    Questions
{% endblock %}

{% block headline %}
    <div class="sorted-mode">
        <a class="active-sorted">New questions</a>
        <a class="inactive-sorted" href="{% url 'hot' %}"  >Hot questions</a>
    </div>
{% endblock %}

{% block welcom-text %}
    {% if request.user.is_authenticated %}
        {% include 'welcom_block.html' %}
    {% endif %}
{% endblock %}

{% block main %}
    <div class="question-container">
        {% for question in page %}
            {% include 'question_card.html' %}
        {% endfor %}
        {% include 'pagination.html' %}
    </div>
    <script src="{% static 'js/script.js' %}" defer></script>
{% endblock %}