{% extends 'base.html' %}
{% load static %}

{% block headline %}
    <div class="base-headline">Log in</div>
{% endblock %}

{% block main %}
    <div class="login-block">
        <form method="post" class="login-form-container">
            {% csrf_token %}
            <div class="login-input-container">
                <div class="login-form-headline">Login:</div>
                <div class="input-field">
                    <input name="username" type ="text" class="small-input-container" placeholder="Your login" id="login">
                    <div class="errors-block">
                        {% if form.general.errors %}{{ form.general.errors.0 }} {% endif %}
                    </div>
                </div>
            </div>
            <div class="login-input-container">
                <div class="login-form-headline">Password:</div>
                <div class="input-field">
                    <input name="password" type="password" class="small-input-container" placeholder="Your password" id = "password">
                    <div class="errors-block">
                        {% if form.password.errors %}{{ form.password.errors.0 }} {% endif %}
                    </div>
                </div>
            </div>
            <div class="buttons-container">
                <button type="submit" class="base-blue-button">
                    <div class="base-blue-text">Log in</div>
                </button>
                <button type="reset" class="no-color-button">
                    <div class="base-blue-text">Create new account</div>
                </button>
            </div>
        </form>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}