{% extends 'base.html' %}
{% load static %}

{% block title %}
    Question
{% endblock %}

{% block headline %}
    <div class="base-headline">Question</div>
{% endblock %}

{% block main %}
    <div class="question-container">
        {% include 'question_card.html' %}
        <div class="base-headline">Answers</div>
        <div class="answers-block">
            {% for answer in page %}
                {% include 'answer_card.html' %}
            {% endfor %}
        </div>
        {% if page.paginator.num_pages > 1 %}
            {% include 'pagination.html' %}
        {% endif %}
        <div class="base-headline">You Answer</div>
            <form method="post">
                {% csrf_token %}
                <textarea class="input-container{% if form.text.errors %} error{% endif %}"
                          name="text"
                          type="text"
                          placeholder="You answer here...."
                          id="answer-input">{% if form.text.value %}{{ form.text.value }}{% endif %}</textarea>
                <div class="errors-block" id="new-answer-error">
                    {% if form.text.errors %}{{ form.text.errors.0 }}{% endif %}
                </div>
                <button type="submit" class="base-blue-button">
                    <div class="base-blue-text">Answer</div>
                </button>
            </form>
        </div>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}