{% extends 'base.html' %}
{% load static %}


{% block title %}
    Sign Up
{% endblock %}

{% block headline %}
    <div class="base-headline">Join AskMe</div>
{% endblock %}

{% block main %}
    <div class="signup-block">
        <form method="post" class="signup-form-container">
            <div class="signup-input-container">
                <div class="signup-form-headline">Avatar:</div>
                <div class="chose-image-block">
                    <img src="{% static 'img/avatar.jpg' %}" alt="Фото профиля" class="profile-image" id="profile-image-preview">
                    <label for="image-upload" class = "no-color-button">Choose file</label>
                    <input type="file" id="image-upload" accept="image/*">
                </div>
            </div>
            <div class="signup-input-container">
                <div class="signup-form-headline">Login:</div>
                <div class="input-field">
                    <textarea class="small-input-container" placeholder="Write login"></textarea>
                    <div class="errors-block" id="login-error">
                    </div>
                </div>
            </div>
            <div class="signup-input-container">
                <div class="signup-form-headline">Email:</div>
                <div class="input-field">
                    <textarea class="small-input-container" placeholder="Write email"></textarea>
                    <div class="errors-block" id="email-error">
                    </div>
                </div>
            </div>
            <div class="signup-input-container">
                <div class="signup-form-headline">Name:</div>
                <div class="input-field">
                    <textarea class="small-input-container" placeholder="Write nickname"></textarea>
                    <div class="errors-block" id="name-error">
                    </div>
                </div>
            </div>
            <div class="signup-input-container">
                <div class="signup-form-headline">Password:</div>
                <div class="input-field">
                    <textarea class="small-input-container" placeholder="Write password"></textarea>
                    <div class="errors-block" id="password-error">
                    </div>
                </div>
            </div>
            <div class="signup-input-container">
                <div class="signup-form-headline">Repeat Password:</div>
                <div class="input-field">
                    <textarea class="small-input-container" placeholder="Repeat password"   style="margin-top: 8px;"></textarea>
                    <div class="errors-block"  id="repeat-password-error">
                    </div>
                </div>
            </div>
            <div class="buttons-container">
                <button type="submit" class="base-blue-button">
                    <div class="base-blue-text">Register!</div>
                </button>
                <button type="reset" class="no-color-button">
                    <div class="base-blue-text">Cancel</div>
                </button>
            </div>
        </form>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}